<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/style/register.css}"/>
</head>
<body>
<div class="container">
    <form class="form-register" action="#" th:action="@{/register}" method="post">
        <h2 class="form-register-heading">Please register</h2>
        <div class="alert alert-danger" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label class="label" for="username">Username:</label>
            <input class="input-field_register" type="text" name="username" id="username" placeholder="Username" />
        </div>
        <div>
            <label class="label" for="password">Password:</label>
            <input class="input-field_register" type="password" name="password" id="password" placeholder="Password" />
        </div>
        <div>
            <button class="submit-button_register" type="submit">Register</button>
        </div>
    </form>
</div>
</body>
</html>
