<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/shopping-cart.css}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Butterfly Kids' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
<div id="grid" class="grid">
    <div class="side_panel" id="side_panel">
        <a id="sidebar_open" class="sidebar_open" onclick="open_sidebar()"><i class='bx bx-menu'></i></a>
        <a id="sidebar_close" class="sidebar_close" onclick="close_sidebar()"><i class='bx bx-x'></i></a>
        <a href="/" id="side_panel_button1" class="side_panel_button"><i class='bx bxs-store'></i><p class="side_panel_button_text" id="side_panel_button_text">Home</p></a>
        <a href="/shoppingcart" id="side_panel_button2" class="active side_panel_button"><i class='bx bxs-shopping-bag-alt'></i><p class="side_panel_button_text" id="side_panel_button_text2">Shopping Cart</p></a>
        <div id="ordered_mobile" class="ordered_mobile">
            <h2>Bag</h2>
            <div class="ordered_flex">
                <div class="col-md-4 mb-4" th:each="entry : ${productsincart}">
                    <!-- Accessing the product from the map entry -->
                    <div class="card_small">
                        <!-- Use entry.key to access the product -->
                        <img th:src="'/' + ${entry.key.getId()} + '.jpg'" class="card-img-top product-image"
                             alt="Product Image">
                        <!-- Use entry.value to access the quantity -->
                        <a class="delete-button-ordered" th:href="@{/delete-product-shopping-cart/{id}(id=${entry.key.getId()})}"><i class='bx bx-x-circle'></i></a>
                        <p>Quantity: <span th:text="${entry.value}"></span></p>
                    </div>
                </div>
            </div>
            <div class="sidebar_mobile_view-checkout">
                <a href="/checkout">
                    <button class="btn btn-primary ms-2">Checkout</button>
                </a>
            </div>
        </div>
        <a sec:authorize="isAuthenticated()" class="side_panel_button">
            <a id="log-out" class="log-out">
                <form action="/logout" method="get">
                    <input type="submit" value="">
                    <i class='bx bx-log-out'></i>
                </form>
            </a>
        </a>
    </div>

    <div id="container" class="container mt-5">
        <a href="/"><h1 class="company_name text-center butterfly">Abracadabra</h1></a>
        <h2 class="header_shopping-cart">Shopping Cart</h2>
        <div class="product-delete-grid" th:each="product: ${products}">
            <a th:href="@{/product/{id}(id=${product.key.getId()})}">
                <div class="product">
                    <img th:src="'/' + ${product.key.getId()} + '.jpg'" class="card-img-top product-image"
                         alt="Product Image">
                    <div class="product-body_shopping-cart product-body">
                        <div class="product-text_shopping-cart">
                            <h2 class="card-title" th:text="${product.key.getName()}"></h2>
                            <h5 class="card-title" th:text="${product.key.getDescription()}"></h5>
                        </div>
                        <div>
                            <h4 class="card-title" th:text="${product.key.getPrice() + '$' + ' x ' + product.value}"></h4>
                        </div>
                    </div>
                </div>
            </a>
            <a class="delete-button-shopping-cart" th:href="@{/delete-product-shopping-cart/{id}(id=${product.key.getId()})}"><i class='bx bx-x-circle'></i></a>
        </div>
        <div>
            <h3 class="bag-total_shopping-cart" th:text="${'Bag Total: ' + total + '$'}"></h3>
            <a href="/checkout">
                <button class="btn btn-primary ms-2 checkout-button_shopping-cart">Checkout</button>
            </a>
        </div>
    </div>

    <div class="ordered">
        <h2>Bag</h2>
        <div class="ordered_flex">
            <div class="col-md-4 mb-4" th:each="entry : ${productsincart}">
                <!-- Accessing the product from the map entry -->
                <div class="card_small">
                    <!-- Use entry.key to access the product -->
                    <img th:src="'/' + ${entry.key.getId()} + '.jpg'" class="card-img-top product-image"
                         alt="Product Image">
                    <!-- Use entry.value to access the quantity -->
                    <a class="delete-button-ordered" th:href="@{/delete-product-shopping-cart/{id}(id=${entry.key.getId()})}"><i class='bx bx-x-circle'></i></a>
                    <p>Quantity: <span th:text="${entry.value}"></span></p>
                </div>
            </div>
        </div>
        <h3 th:text="${'Bag Total: ' + total + '$'}"></h3>
        <a href="/checkout">
            <button class="btn btn-primary ms-2">Checkout</button>
        </a>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</html>