.grid_admin {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    min-height: 100%;
    transition: grid-template-columns 0.5s ease-in-out;
}

.header-container_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-product-button_admin {
    font-size: 18px;
    background-color: #009c01;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #009c01;
    color: #fff !important;
    padding: 8px;
}

.admin_orders-customer_name {
    font-size: 30px;
}

.admin_orders-products_list {
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .header_admin {
        font-size: 45px;
    }

    .admin_orders-customer_name {
        font-size: 45px;
    }

    .admin_orders-products_list {
        font-size: 30px;
    }

    .header-container_admin {
        flex-direction: column;
        align-items: center;
    }

    .add-product-button_admin {
        font-size: 30px;
        width: 50%;
    }
}