.grid_admin {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    min-height: 100%;
    transition: grid-template-columns 0.5s ease-in-out;
}

.admin_orders-customer_name {
    font-size: 30px;
}

.admin_orders-products_list {
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .header_admin {
        font-size: 45px;
    }
}